<header>
  <h1>JanifyPremium</h1>
</header>


<!-- Burger Menü Button (nur auf kleinen Screens sichtbar) -->
<button class="burger-menu" (click)="toggleMenu()">
  ☰
</button>

<!-- Navigation -->
<nav>
  <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">Home</div>
  <div routerLink="/gallery" routerLinkActive="active" class="nav-item">Gallery</div>
  <div routerLink="/about" routerLinkActive="active" class="nav-item">About</div>
  <div routerLink="/blog" routerLinkActive="active" class="nav-item">Blog</div>
  <div routerLink="/contact" routerLinkActive="active" class="nav-item">Contact</div>
</nav>


<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 JanifyPremium Cosplay Portfolio and Website</p>
</footer>
