<!-- Navigation -->
<nav [class.active]="menuOpen">
  <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-title" (click)="onNavClick()">JanifyPremium</div>
  <button class="burger-menu" (click)="toggleMenu()">
    ☰
  </button>
  <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item" (click)="onNavClick()">Home</div>
  <div routerLink="/gallery" routerLinkActive="active" class="nav-item" (click)="onNavClick()">Gallery</div>
  <div routerLink="/about" routerLinkActive="active" class="nav-item" (click)="onNavClick()">About</div>
  <div routerLink="/blog" routerLinkActive="active" class="nav-item" (click)="onNavClick()">Blog</div>
</nav>


<router-outlet></router-outlet>

<footer>
  <p>JanifyPremium Cosplay Portfolio and Website</p>
</footer>
