.blog-detail {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(100, 100, 100);
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100%;
      border-radius: $border-radius;
    }
  
    h2 {
      color: $primary-color;
    }
  
    p {
      font-size: 16px;
      line-height: 1.6;
      color: darken($text-color, 20%);
    }
  
    .back-link {
      display: inline-block;
      margin-top: 15px;
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
      transition: color 0.3s;
  
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
  