.blog-detail {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  
    h1 {
      color: #FF3D71;
    }
  
    img {
      width: 100%;
      border-radius: 8px;
      margin: 20px 0;
    }
  
    p {
      color: #E0E0E0;
      font-size: 18px;
      line-height: 1.6;
    }
  
    a {
      display: block;
      margin-top: 20px;
      color: #FF3D71;
      font-weight: bold;
      text-decoration: none;
    }
  }
  