.blog-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

a {
  display: block;
  margin-top: 20px;
  color: #FF3D71;
  text-decoration: none;
}
